In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing


pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.float_format = '{:,.2f}'.format

In [134]:
data = pd.read_csv('/content/houses_Madrid.csv', on_bad_lines='skip') # skip lines that cause errors

<ipython-input-134-d31907be167c>:1: DtypeWarning: Columns (1,4,13,23,24,27,29,31,49) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/houses_Madrid.csv', on_bad_lines='skip') # skip lines that cause errors

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28907 entries, 0 to 28906
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    28906 non-null  float64
 1   id                            28907 non-null  object
 2   title                         28906 non-null  object
 3   subtitle                      28906 non-null  object
 4   sq_mt_built                   28777 non-null  object
 5   sq_mt_useful                  10832 non-null  float64
 6   n_rooms                       28906 non-null  float64
 7   n_bathrooms                   28882 non-null  float64
 8   n_floors                      1673 non-null   float64
 9   sq_mt_allotment               1647 non-null   float64
 10  latitude                      0 non-null      float64
 11  longitude                     0 non-null      float64
 12  raw_address                   21507 non-null  object
 13  is_exact_address_hidden       28906 non-null  object
 14  street_name                   20975 non-null  object
 15  street_number                 8043 non-null   object
 16  portal                        0 non-null      float64
 17  floor                         25798 non-null  object
 18  is_floor_under                27471 non-null  object
 19  door                          0 non-null      float64
 20  neighborhood_id               28906 non-null  object
 21  operation                     28906 non-null  object
 22  rent_price                    28905 non-null  float64
 23  rent_price_by_area            1 non-null      object
 24  is_rent_price_known           28906 non-null  object
 25  buy_price                     28905 non-null  float64
 26  buy_price_by_area             28905 non-null  float64
 27  is_buy_price_known            28905 non-null  object
 28  house_type_id                 28380 non-null  object
 29  is_renewal_needed             28906 non-null  object
 30  is_new_development            27610 non-null  object
 31  built_year                    13446 non-null  object
 32  has_central_heating           18283 non-null  object
 33  has_individual_heating        18282 non-null  object
 34  are_pets_allowed              0 non-null      float64
 35  has_ac                        14983 non-null  object
 36  has_fitted_wardrobes          17764 non-null  object
 37  has_lift                      26043 non-null  object
 38  is_exterior                   25182 non-null  object
 39  has_garden                    1783 non-null   object
 40  has_pool                      6099 non-null   object
 41  has_terrace                   12127 non-null  object
 42  has_balcony                   4725 non-null   object
 43  has_storage_room              9711 non-null   object
 44  is_furnished                  0 non-null      float64
 45  is_kitchen_equipped           0 non-null      float64
 46  is_accessible                 5401 non-null   object
 47  has_green_zones               4900 non-null   object
 48  energy_certificate            28905 non-null  object
 49  has_parking                   28905 non-null  object
 50  has_private_parking           0 non-null      float64
 51  has_public_parking            0 non-null      float64
 52  is_parking_included_in_price  9570 non-null   object
 53  parking_price                 9570 non-null   float64
 54  is_orientation_north          15257 non-null  object
 55  is_orientation_west           15257 non-null  object
 56  is_orientation_south          15257 non-null  object
 57  is_orientation_east           15257 non-null  object
dtypes: float64(19), object(39)
memory usage: 12.8+ MB



*   Remove nan column
*   Take specific column for Processing
*   check if there dublicate value

In [136]:
#Remove nan column
data =data.dropna( axis=1, how='all' )
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28907 entries, 0 to 28906
Data columns (total 49 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    28906 non-null  float64
 1   id                            28907 non-null  object
 2   title                         28906 non-null  object
 3   subtitle                      28906 non-null  object
 4   sq_mt_built                   28777 non-null  object
 5   sq_mt_useful                  10832 non-null  float64
 6   n_rooms                       28906 non-null  float64
 7   n_bathrooms                   28882 non-null  float64
 8   n_floors                      1673 non-null   float64
 9   sq_mt_allotment               1647 non-null   float64
 10  raw_address                   21507 non-null  object
 11  is_exact_address_hidden       28906 non-null  object
 12  street_name                   20975 non-null  object
 13  street_number                 8043 non-null   object
 14  floor                         25798 non-null  object
 15  is_floor_under                27471 non-null  object
 16  neighborhood_id               28906 non-null  object
 17  operation                     28906 non-null  object
 18  rent_price                    28905 non-null  float64
 19  rent_price_by_area            1 non-null      object
 20  is_rent_price_known           28906 non-null  object
 21  buy_price                     28905 non-null  float64
 22  buy_price_by_area             28905 non-null  float64
 23  is_buy_price_known            28905 non-null  object
 24  house_type_id                 28380 non-null  object
 25  is_renewal_needed             28906 non-null  object
 26  is_new_development            27610 non-null  object
 27  built_year                    13446 non-null  object
 28  has_central_heating           18283 non-null  object
 29  has_individual_heating        18282 non-null  object
 30  has_ac                        14983 non-null  object
 31  has_fitted_wardrobes          17764 non-null  object
 32  has_lift                      26043 non-null  object
 33  is_exterior                   25182 non-null  object
 34  has_garden                    1783 non-null   object
 35  has_pool                      6099 non-null   object
 36  has_terrace                   12127 non-null  object
 37  has_balcony                   4725 non-null   object
 38  has_storage_room              9711 non-null   object
 39  is_accessible                 5401 non-null   object
 40  has_green_zones               4900 non-null   object
 41  energy_certificate            28905 non-null  object
 42  has_parking                   28905 non-null  object
 43  is_parking_included_in_price  9570 non-null   object
 44  parking_price                 9570 non-null   float64
 45  is_orientation_north          15257 non-null  object
 46  is_orientation_west           15257 non-null  object
 47  is_orientation_south          15257 non-null  object
 48  is_orientation_east           15257 non-null  object
dtypes: float64(10), object(39)
memory usage: 10.8+ MB

In [137]:
#check if there dublicate value
data.duplicated().sum()

0

In [138]:
data.rename(columns = {'subtitle': 'city'}, inplace = True)

In [139]:
df=data[['id','city','sq_mt_built','n_rooms','n_bathrooms','rent_price','buy_price','buy_price_by_area']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28907 entries, 0 to 28906
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 28907 non-null  object
 1   city               28906 non-null  object
 2   sq_mt_built        28777 non-null  object
 3   n_rooms            28906 non-null  float64
 4   n_bathrooms        28882 non-null  float64
 5   rent_price         28905 non-null  float64
 6   buy_price          28905 non-null  float64
 7   buy_price_by_area  28905 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1.8+ MB

In [140]:
df.n_rooms.describe()

count   28,906.00
mean         2.97
std          1.50
min          0.00
25%          2.00
50%          3.00
75%          4.00
max         24.00
Name: n_rooms, dtype: float64

In [141]:
df.drop(df[df['n_rooms'] == 0].index, inplace = True)

<ipython-input-141-f45a79e7bf99>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['n_rooms'] == 0].index, inplace = True)

In [142]:
df.n_bathrooms.mode()

0   1.00
Name: n_bathrooms, dtype: float64

In [143]:
df.n_bathrooms=df.n_bathrooms.fillna(1)
df.n_bathrooms=df.n_bathrooms.replace(0,1)
df.n_bathrooms=df.n_bathrooms.astype(int)

<ipython-input-143-e421ade62454>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_bathrooms=df.n_bathrooms.fillna(1)
<ipython-input-143-e421ade62454>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_bathrooms=df.n_bathrooms.replace(0,1)
<ipython-input-143-e421ade62454>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.n_bathrooms=df.n_bathrooms.astype(int)

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28322 entries, 0 to 28906
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 28322 non-null  object
 1   city               28321 non-null  object
 2   sq_mt_built        28192 non-null  object
 3   n_rooms            28321 non-null  float64
 4   n_bathrooms        28322 non-null  int64
 5   rent_price         28320 non-null  float64
 6   buy_price          28320 non-null  float64
 7   buy_price_by_area  28320 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.9+ MB

In [145]:
df =df.dropna(subset=['rent_price', 'sq_mt_built'])

In [146]:
df.sample(10)

,id,city,sq_mt_built,n_rooms,n_bathrooms,rent_price,buy_price,buy_price_by_area
13366,15541,"Águilas, Madrid",63,2.00,1,666.00,"130,000.00","2,063.00"
21488,7419,"Chamartín, Madrid",420.00,4.00,3,"-28,381.00","1,995,000.00","4,750.00"
17735,11172,"Apóstol Santiago, Madrid",55.00,2.00,1,725.00,"145,000.00","2,636.00"
28520,387,"Retiro, Madrid",221.00,4.00,3,"2,315.00","790,000.00","3,575.00"
21132,7775,"Chamartín, Madrid",298.00,4.00,4,"-5,194.00","1,600,000.00","5,369.00"
15528,13379,"Fuencarral, Madrid",268,5.00,4,"2,514.00","990,000.00","3,694.00"
20654,8253,"Ventas, Madrid",58.00,3.00,1,910.00,"198,000.00","3,414.00"
3628,6393,"Prosperidad, Madrid",61,1.00,1,"1,225.00","310,000.00","5,082.00"
14733,14174,"Valdezarza, Madrid",55,2.00,1,884.00,"190,000.00","3,455.00"
6248,18479,"Tetuán, Madrid",60,2.00,1,813.00,"169,000.00","2,817.00"

In [147]:
#change negative value
for value in df.rent_price.values:
  if value < 0:
    df.rent_price = 0

In [148]:
#split cigty to (disrect,city)
df['destrict']=df.city.str.split(',').str[0]

In [149]:
df.head(10)

,id,city,sq_mt_built,n_rooms,n_bathrooms,rent_price,buy_price,buy_price_by_area,destrict
0,21742,"San Cristóbal, Madrid",64,2.00,1,0,"85,000.00","1,328.00",San Cristóbal
1,21741,"Los Ángeles, Madrid",70,3.00,1,0,"129,900.00","1,856.00",Los Ángeles
2,21740,"San Andrés, Madrid",94,2.00,2,0,"144,247.00","1,535.00",San Andrés
3,21739,"San Andrés, Madrid",64,2.00,1,0,"109,900.00","1,717.00",San Andrés
4,21738,"Los Rosales, Madrid",108,2.00,2,0,"260,000.00","2,407.00",Los Rosales
5,21737,"San Andrés, Madrid",126,4.00,2,0,"195,000.00","1,548.00",San Andrés
6,21736,"San Andrés, Madrid",120,5.00,2,0,"190,000.00","1,583.00",San Andrés
7,21735,"Villaverde, Madrid",125,3.00,2,0,"198,500.00","1,588.00",Villaverde
8,21734,"Villaverde, Madrid",84,3.00,2,0,"212,000.00","2,524.00",Villaverde
9,21733,"Los Rosales, Madrid",85,2.00,1,0,"131,400.00","1,546.00",Los Rosales

In [150]:
df.columns

Index(['id', 'city', 'sq_mt_built', 'n_rooms', 'n_bathrooms', 'rent_price',
       'buy_price', 'buy_price_by_area', 'destrict'],
      dtype='object')

In [151]:
df= df[['id', 'destrict', 'sq_mt_built', 'n_rooms', 'n_bathrooms', 'rent_price',
       'buy_price', 'buy_price_by_area']]
df.head()

,id,destrict,sq_mt_built,n_rooms,n_bathrooms,rent_price,buy_price,buy_price_by_area
0,21742,San Cristóbal,64,2.00,1,0,"85,000.00","1,328.00"
1,21741,Los Ángeles,70,3.00,1,0,"129,900.00","1,856.00"
2,21740,San Andrés,94,2.00,2,0,"144,247.00","1,535.00"
3,21739,San Andrés,64,2.00,1,0,"109,900.00","1,717.00"
4,21738,Los Rosales,108,2.00,2,0,"260,000.00","2,407.00"



1.   May be used house id
2.   remove rent ptice

In [127]:
#remove rent ptice

In [154]:
#remove rent ptice
df = df.drop(['rent_price'], axis=1)

In [156]:
df.to_csv('houses_Madrid_cleaned.csv')